// app global css in SCSS form

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Barlow', sans-serif;;
  color: #6c83a5;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
  background: #fff;
}

h4 {
  color: #6c83a5;
}

.constrain {
  max-width: 950px;
  margin: 0 auto;
}
