// app global css in SCSS form

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #687281;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
  background: #ffffff;
}

h4 {
  color: #6c83a5;
}

.constrain {
  max-width: 950px;
  margin: 0 auto;
}
